<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Show Hide Elements Using Checkboxes</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="stylesheets/jquery.sidemenu.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="javascripts/jquery.sidemenu.min.js"></script>
<style>

    [data-role=sidemenu-content] > a {
      display: inline-block;
      margin: 8px;
    }

    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .red{ background: #ff0000; }
    .green{ background: #228B22; }
    .blue{ background: #0000ff; }
    label{ margin-right: 15px; }
</style>
<script>
$(document).ready(function(){
    $('input[type="checkbox"]').click(function(){
        var inputValue = $(this).attr("value");
        $("." + inputValue).toggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $('input[type="checkbox"]').click(function(){
        var inputValue = $(this).attr("value");
        $("." + inputValue).toggle();
    });
});
</script>

</head>
<body>
    <div data-role="sidemenu-container" data-sidemenu-dir="left">
      <div data-role="sidemenu-content">
        <div id="sidemenu">
          <ul>
            <li><a href="#">Import/export</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Categorizing</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Invoice</a></li>
            <li class="divider"></li>
            <li><a href="#" data-role="sidemenu-toggle">Close</a></li>
          </ul>
        </div>

        <a href="#" data-role="sidemenu-toggle">Open side menu</a>
      </div>
    </div>

    <div>
        <label><input type="checkbox" name="colorCheckbox" value="red"> red</label>
        <label><input type="checkbox" name="colorCheckbox" value="green"> green</label>
        <label><input type="checkbox" name="colorCheckbox" value="blue"> blue</label>
    </div>
    <div class="red box">You have selected <strong>red checkbox</strong> so i am here</div>
    <div class="green box">You have selected <strong>green checkbox</strong> so i am here</div>
    <div class="blue box">You have selected <strong>blue checkbox</strong> so i am here</div>
</body>
</html>