<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>jquery.sidemenu.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/jquery.sidemenu.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='javascripts/jquery.sidemenu.js') }}">
            
    </script>
    <style>

    [data-role=sidemenu-content] > a {
      display: inline-block;
      margin: 8px;
    }

    
    </style>
  </head>
  <body>
    <div class="is-active" data-role="sidemenu-container" data-sidemenu-dir="left" id="sidemenu_container">
      <div data-role="sidemenu-content">

        <div id="sidemenu">
          <ul>
            <li><a href="#importexport">Import/export</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#categorizing">Categorizing</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="#invoice">Invoice</a></li>
            <li class="divider"></li>
            <li><a href="#" data-role="sidemenu-toggle">Close</a></li>
          </ul>
        </div>

            
        <div>
           <div class="topnav">
            <a class="active  loadbutton" href="#" data-role="sidemenu-toggle">Toggle Menu</a>
            <a class="active loadbutton" href="#load_json" style="background-color: blue;">Load Json</a>
            <div>
              <input type="checkbox" id="vehicle1" name="colorCheckbox" value="red" checked="true" class="mybutton">
              <label for="vehicle1"> Uncategorized</label><br>
            </div>
            <div>
              <input type="checkbox" id="vehicle2" name="vehicle2" value="2" checked="true" class="largerCheckbox">
              <label for="vehicle2"> Show Google Calendar Events </label><br>
            </div>
            <div>
              <input type="checkbox" id="vehicle3" name="vehicle3" value="3" checked="true" class="largerCheckbox">
              <label for="vehicle3"> Show Activity Watch Events</label><br>
            </div>
            <div>
              <input type="checkbox" id="vehicle4" name="vehicle4" value="4" checked="false" class="largerCheckbox">
              <label for="vehicle4"> Show "Irrelevant"</label><br>
            </div>
           </div> 

        </div> 
        <div class="all_content">
          <div id="col1">
              <br>
              <table class="table_events">
                <tr> 
                  <th>Window Title</th>
                  <th>Total Time</th>
                  <th>Project/Uncategorized</th>
                </tr>
                <tr class="example">
                 <td>
                    <div class="red box" id="myDIV">You have selected <strong>red checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="red box">You have selected <strong>green checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="red box">You have selected <strong>blue checkbox</strong> so i am here</div>
                 </td>
                </tr> 
                <tr>
                 <td>
                    <div class="green box" id="myDIV">You have selected <strong>red checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="green box">You have selected <strong>green checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="green box">You have selected <strong>blue checkbox</strong> so i am here</div>
                 </td>
                </tr> 
                <tr>
                 <td>
                    <div class="blue box" id="myDIV">You have selected <strong>red checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="blue box">You have selected <strong>green checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="blue box">You have selected <strong>blue checkbox</strong> so i am here</div>
                 </td>
                </tr> 
              </table>
          </div>
          <div id="col2">
              <table class="table_categorize">
                <tr> 
                  <th width = "33%">Project</th>
                  <th width = "67%">Tags (Click to remove)</th>
                </tr>
                <tr class="example">
                 <td>
                    <div class="red box" id="myDIV"><div>title</div><input placeholder="add search string" type="text" id="shoppingItem" /></div>
                  </td>
                  <td>
                    <div class="red box">
                      <ul class="shopping_item_list" id = "dynamic-list">
                      </ul>
                    </div>
                  </td>
                </tr> 
                <tr>
                 <td>
                    <div class="green box" id="myDIV">You have selected <strong>red checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="green box">You have selected <strong>green checkbox</strong> so i am here</div>
                  </td>
                </tr> 
                <tr>
                 <td>
                    <div class="blue box" id="myDIV">You have selected <strong>red checkbox</strong> so i am here</div>
                  </td>
                  <td>
                    <div class="blue box">You have selected <strong>green checkbox</strong> so i am here</div>
                  </td>
                </tr> 
              </table>
          </div> 
        </div>

      </div>
    </div>
  </body>
</html>
